*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color:#f8eeed;
    text-align: center;
  }

  /* nav bar */

  header{
    background-color: #c85336;
    width: 100%;
    height: 100px;
    
  }

  

  header .header-brand{
    font-size: 24px;
    font-weight : 900;
    color: #f0a997;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    list-style:none;
  }
  
  header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
    
  }
  
  header nav ul li {
    display: inline-block;
    
    list-style: none;
    padding: 0 16px; 
    
  }
  
  header nav ul li a {
     font-size: 16px;
     color: #f5ddd7;
     text-decoration: none;
     list-style: none;
     font-family: 'Nunito', sans-serif;
    
  }

 a.header-brand{
  text-decoration: none;
  list-style: none;
  font-family:  'Merriweather', bold;
 }

a{
  color: #686d27;
  list-style:none;
  
}

nav ul {
  list-style:none;
}





/*profile post */
div.profilepost{
  font-size: 16px;
}

p{
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}


h1{
  font-size: 18px;
  color: #111;
}

ps{
  font-family: 'Nunito', sans-serif;
}

.holdingcontainer1{
  max-width: 100%;
  display: flex;
  background: #fce6db;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start; 
}

/*bottom*/
div.bottom{
  width: 100px;
  height: 200px;
  padding: 100px;
}


/* login in form */

.login-box{
  width: 420px;
  height: 520px;
  background: rgba(128, 77, 77, 0.5);
  color:#fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

div.form-login{
  
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
    }

  label{
    display: block;
    padding: 1rem 0 .25rem;
    
  }
 input,textarea{
    display: block;
    width: 100%;
       padding: .5rem;
    border-radius:5px;
  }   

  slider1{
  
    margin: 0;
    padding: 0;
    background-size: cover ;
    background-position: center;
    
    }
 slider1.img{
  opacity: 0.5;
 }

 /* post create form */

 div.form-login1{
  
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
    }

   
    .login-box1{
      width: 420px;
      height: 520px;
      background: rgba(128, 77, 77, 0.5);
      color:#fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-3%);
      position : relative;
    }    


 /* profile edit form */

 .login-box2{
  width: 420px;
  height: 520px;
  background: rgba(128, 77, 77, 0.5);
  color:#fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-3%);
  position : relative;
}    



div.form-login2{
  
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
    }


 /* About page */

 aboutbg{
  
  margin: 0;
  padding: 0;
  background-size: cover ;
  background-position: center;
  
  }


div.about{
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
    }



/*other */

div.show{
  text-align: center;
  margin: 0 auto;
}

hs{
  font-size: 18px;
}

button{
  background : #686d27;
  margin: 1rem 0;
  cursor: pointer;
  height: 30px;
  width: 110px;
}



div.mid{
  background-color: #c85336;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 55% 1fr 1fr 10%;
    align-items: center;
}

li1{

  
 justify-self: end;
  text-decoration: none;
     list-style: none;
     padding : 15px;
}

footer{
  padding : 15px;
}

/* js style */

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #e67a6b,#f5c2be);
  z-index: -1;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  
}
.hero{
  height: 60%;
  width: 100%;
  position: relative;

}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline{
  position: absolute;
  top: 70%;
  left: 10%;
  font-size:80px;
  transform: translate(-20%,-70%) ;
  color: white;  
  z-index: 3;
  font-family:  'Merriweather', bold;
}

.hero::after{
  content: "";
 
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  
  top: 0;
  
}


@media screen and (max-width: 768px){
  .holdingcontainer{
    flex-direction: column-reverse;
  }
}